# Example entries
build/
install/
log/
__pycache__/
CMakeFiles/
.vscode/
frames_2025-06-17_22.43.34.gv
frames_2025-06-17_22.43.34.pdf
frames_2025-06-17_22.55.54.gv
frames_2025-06-17_22.55.54.pdf
yolo12n.pt
src/manual_mission_planner/manual_mission_planner/llm_config.json
