waypoint_controller:
  ros__parameters:
    control_frequency: 50.0      
    position_tolerance: 0.3
    velocity_tolerance: 0.1
    waypoint_timeout: 5.0

    kp_xy: 0.8                  
    ki_xy: 0.01                  
    kd_xy: 0.0                   

    kp_z: 0.6                    
    ki_z: 0.01
    kd_z: 0.0

    max_velocity_xy: 2.0         
    max_velocity_z: 1.5

    max_vertical_error: 1.5
    integral_limit_xy: 0.3
    integral_limit_z: 0.3
    cf_v_xy: 0.8                
    cf_v_z: 0.8

yaw_controller:
  ros__parameters:
    control_frequency: 50.0      
    yaw_tolerance: 0.05
    kp_yaw: 1.8                 
    ki_yaw: 0.01
    kd_yaw: 0.0                  
    max_angular_velocity_yaw: 3.0
    max_yaw_step: 0.5            
    cf_yaw_rate: 0.8
    yaw_integral_limit: 0.3
    attitude_command_timeout: 5.0