# Velocity adapter parameters
multicopter_velocity_control_adapter:
  ros__parameters:
    control_frequency: 160.0
    max_linear_velocity_xy: 5.0
    max_linear_velocity_z: 4.0
    max_angular_velocity_xy: 3.0
    max_angular_velocity_z: 3.0
    linear_cmd_filter_alpha: 0.95
    yaw_rate_filter_alpha: 0.50    # 提高到0.50，配合快速内环，减少延迟
    velocity_setpoint_timeout: 0.8
    angular_setpoint_timeout: 0.8
